<mat-card>
  <mat-card-header>
    <mat-toolbar class="toolbar">
      <mat-card-title>Eran Helbitz' Todo List</mat-card-title>
      <span class="toolbar-spacer"></span>
      <mat-icon (click)="addContact()">add</mat-icon>
    </mat-toolbar>
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <table id="toDoList" class="table" >
          <th id="el1" class="headT" onclick="w3.sortHTML('#toDoList', '.item', 'td:nth-child(1)')" >Task</th>
          <th id="el2" class="headT"  onclick="w3.sortHTML('#toDoList', '.item', 'td:nth-child(2)')" >Task's Category</th>
          <th id="el3" class="headT" onclick="w3.sortHTML('#toDoList', '.item', 'td:nth-child(3)')" >Task Date</th>
         <!--  <th>Task Completed?</th>-->
        <tr *ngFor="let Contact of ContactList" class="item">
          <td>{{Contact.taskName}}</td>
          <td>{{Contact.category}}</td>
          <td>{{Contact.date | date}}</td>
         <!-- <td>{{Contact.isComplete}}</td>-->
          <td><mat-icon (click)="editContact(Contact.ID)">edit</mat-icon></td>
          <td><mat-icon (click)="deleteContact(Contact.ID)">delete</mat-icon></td>
          <td><mat-icon><input type="checkbox" (click)="completeItem()"></mat-icon></td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>


<!-- const table = th.closest('table');
      Array.from(table.querySelectorAll('tr:nth-child(n)'))
     .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
     .forEach(tr => table.appendChild(tr) );
    
    
    onclick="w3.sortHTML('#toDoList', '.item', 'td:nth-child(1)')"


     onclick="console.log(1)" style="cursor:pointer" sortable="taskName" (sort)="onSort(onclick)" 
    
    -->