/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.toolbar{
    background-color:  #4B0082;
    border-radius: 5px;
    color: white;

}

th {
    cursor: pointer;
}

mat-icon {

    cursor: pointer;
}
body  {
    background-image: url("https://cdn.lowgif.com/medium/1f3f085b3a84ed61-.gif");
    background-color: #cccccc;
  }

  mat-card {
width: 80%;
position: fixed;
margin: auto;
  }


.toolbar-spacer{
    flex: 1 1 auto;
}